

<div [className]="'bubble-card'">
  <div [className]="'bubble-title'">
      <h1 >{{name}}</h1>
  </div>
  <ngx-charts-bubble-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="results"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"

  [yScaleMin]="yScaleMin"
  [yScaleMax]="yScaleMax"
  [minRadius]="minRadius"
  [maxRadius]="maxRadius"
></ngx-charts-bubble-chart>
</div>